## DSC540 Weeks 11 & 12: Storing Data

##### Bryan Rogers
##### Bellevue University
##### DSC540: Data Preperation
##### 11/13/23

### 1. Data Wrangling with Python: Activity 11, page 320

### Activity 11: Retrieving Data Correctly from Databases

#### 1. Connect to the petsDB and check whether the connection has been successful

In [9]:
import sqlite3

In [17]:
conn = sqlite3.connect("petsdb")

In [40]:
# write a function that defines if it is possible to open the connection
def is_open(db_path):
    try:
        cursor = sqlite3.connect(db_path)
        cursor.close()
        return True
    except sqlite3.Error:
        return False

db_path = "petsdb"

if is_open(db_path):
    print("Connection succeeded")
else:
    print("Connection failed.")

Connection succeeded

In [41]:
print(is_open(db_path))

True

In [42]:
#  use a try/except to make a connection to the petsdb database
try:
    connect_db = sqlite3.connect(db_path)
    cursor = connect_db.cursor()
    print("Connection to database")
except:
    print("Failed to connect to database.")

Connection to database

#### 2. Find the different age groups in the persons database

In [44]:
# assign SQL query to find different age groups from persons database
age_query = "SELECT age, COUNT(*) FROM persons GROUP BY 1"

# run the query and get the results
cursor.execute(age_query)
age_groups = cursor.fetchall()

# print the result
print("We have {} people, aged {}".format(count, age))

We have 5 people, aged 73

#### 3. Find the age group that has the maximum number of people

In [24]:
# assign SQL query to count the max number of people for each age
max_query = " SELECT age, COUNT(*) AS CNT FROM persons GROUP BY 1 ORDER BY COUNT(*) DESC LIMIT 1"

# run the query and get the results
cursor.execute(max_query)
max_age_group = cursor.fetchone()

# print the result
print("The max age of people is: Age {}, and there are Count {}".format(age, count))

The max age of people is: Age 73, and there are Count 5

#### 4. Find the people who do not have a last name

In [25]:
# assign SQL query to count people who do not have a last name 
last_name_query = "SELECT COUNT(*) FROM persons WHERE (last_name IS NULL OR last_name = '')"

# run the query and get the results
cursor.execute(last_name_query)
no_last_name_count = cursor.fetchone()[0]

# print the result
print("People with no last name is: {}".format(no_last_name_count))

People with no last name is: 60

#### 5. Find out how many people have more than one pet

In [31]:
# assign SQL query to count people with more than one pet
multiple_pet_query = " SELECT COUNT(*) FROM \
                        (SELECT COUNT(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1) a"

# run the query and get the results
cursor.execute(multiple_pet_query)
multiple_pet_count = cursor.fetchone()[0]

# print the result
print("People with more than one pet: {}".format(multiple_pet_count))

People with more than one pet: 43

#### 6. Find out how many pets have received treatment

In [27]:
# assign SQL query to count pets that have had treatment
treatment_query = "SELECT COUNT(*) FROM pets WHERE treatment_done = 1"

# run the query and get the results
cursor.execute(treatment_query)
treatment_done = cursor.fetchone()[0]

# print the result
print("Pets that have received treatment: {}".format(treatment_done))

Pets that have received treatment: 36

#### 7. Find out how many pets have received treatment and the type of pet is known

In [30]:
# assign SQL query to count pets that have had treatment and known type of pet
known_pet_query = "SELECT COUNT(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"

# run the query and get the results
cursor.execute(known_pet_query)
known_pet_treatment = cursor.fetchone()[0]

# print the result
print("Pets that have received treatment and we know what type of pet: {}".format(known_pet_treatment))

Pets that have received treatment and we know what type of pet: 16

#### 8. Find out how many pets are from the city called 'east port'

In [32]:
# assign SQL query to count pets from the city 'east port'
city_query = "SELECT COUNT(*) FROM pets JOIN persons ON pets.owner_id = persons.id  WHERE persons.city='east port'"

# run the query and get the results
cursor.execute(city_query)
east_port_pets = cursor.fetchone()[0]

# print the result
print("Pets from east port: {}".format(east_port_pets))

Pets from east port: 49

#### 9. Find out how many pets are from the city called 'east port' and who received a treatment

In [35]:
# assign SQL query to count pets from the city 'east port' and have had treatment
east_port_treatment_query = "SELECT COUNT(*) FROM pets JOIN persons ON pets.owner_id = persons.id \
                                WHERE persons.city='east port' AND pets.treatment_done=1"

# run the query and get the results
cursor.execute(east_port_treatment_query)
east_port_treatment_pets = cursor.fetchone()[0]

# print the result
print("Pets from east port and received treatment: {}".format(east_port_treatment_pets))

Pets from east port and received treatment: 11

In [37]:
# close the connection to 'petsdb'
try:
    connect_db.close()
    print("Connection closed.")
except:
    print("Failed to close the connection.")

Connection closed.